
<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">

<button><a href="/admin">Admin Page</a></button>

<ul>
  {{#each blogs}}
  
  <button type="submit" data-id="{{this.id}}" class="goTo">{{this.id}}  {{this.title}}</button> <br>

  {{/each}}
</ul>


<div class="col-sm-2"></div>
</div>
</div>

